<mg-navigation></mg-navigation>
<h1>Add a Sensor</h1>

<div>To add a new sensor to your account, you have to download and install the app on an iOS device.</div>
<div><img src="/images/Download_on_the_App_Store_Badge_US-UK_135x40.png" /></div>
<br/>
<div ng-hide="sensorToken">Once this is done, request a token <a ng-click="requestToken()"><u>here</u></a></div>
<div ng-show="sensorToken">Your sensor token is <b>{{sensorToken}}</b></div>
<br/>
<br/>
<div>You will be able to use Android devices as sensors in the very near future.</div>
<div>Please drop us a line if you want to be notified when this happens.</div>
