<div class="sensor-details">


    <audio controls id="audioPlayer{{sensorId}}" style="visibility: hidden">
        <p>Your browser does not support the audio element.</p>
    </audio>



    <div class="sensor-header">
        <div class="name">
            <span title="{{sensorId}}">
                Sensor <b>{{sensorName}}</b>
            </span>
        </div>
        <div class="options">
            <div class="autoplay">
                <input type="checkbox" ng-model="autoplay" id="cbAutoplay{{sensorId}}" />
                <label for="cbAutoplay{{sensorId}}">AutoPlay</label>
            </div>
        </div>
    </div>



    <div class="timeline-container">
        <div class="dates">
            <div class="dt-from">{{dtFrom | date:'dd/MM HH:mm'}}</div>
            <div ng-click="unzoomFullDay()" ng-hide="isFullDay()" class="reset-full-day">Unzoom to full day</div>
            <div class="dt-to">{{dtTo | date:'dd/MM HH:mm'}}</div>
        </div>
        <div class="timeline-and-controls">
            <mg-timeline events="samples" selected-event="currentlyPlaying" get-css="getCssPosition" get-event-time="getSampleStartDate" get-event-duration="getSampleDuration" min-value="dtFrom" max-value="dtTo" on-click="playSample">
            </mg-timeline>
            <div ng-show="loading" class="loading">
                <div class="bubblingG">
                    <span id="bubblingG_1">
                    </span>
                    <span id="bubblingG_2">
                    </span>
                    <span id="bubblingG_3">
                    </span>
                </div>
            </div>
            <a ng-click="goToPreviousDay()" class="before">&lt;&lt;</a>
            <a ng-click="goToNextDay()" class="after">&gt;&gt;</a>
        </div>
    </div>

    <div class="currently-playing" ng-show="currentlyPlaying">Currently playing: {{currentlyPlaying.sample_start_date | date:'dd/MM HH:mm:ss'}}</div>


    <div class="pictures" ng-show="pictureSamples.length > 0">
        <div style="width: {{pictureSamples.length * 42}}px;">
            <div ng-repeat="pictureSample in pictureSamples" class="thumbnail" style="background-image: url(/sample/{{sessionToken}}/{{pictureSample.sampleUid}});">
            </div>
        </div>
    </div>
</div>
